{%load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link type="text/css" rel="stylesheet" media="all" href="{%static 'styles/global.css'%}" />
        <link type="text/css" rel="stylesheet" media="all" href="{%static 'styles/global_color.css'%}" />
    </head>
    <body>
        <!--Logo区域开始-->
        <div id="header">
            <img src="{%static 'images/logo.png'%}" alt="logo" class="left"/>
            <a href="{%url 'sl'%}">[退出]</a>
        </div>
        <!--Logo区域结束-->
        <!--导航区域开始-->
        <div id="navi">
            <ul id="menu">
                  <!--1-->
                <li><a href="{%url 'index'%}" class="index_off"></a></li>
                <!--2-->
                <li><a href="{%url 'role_list'%}" class="role_off"></a></li>
                <!--3-->
                <li><a href="{%url 'sml'%}" class="admin_off"></a></li>
                <!--4-->
                <li><a href="{%url 'show_fee_list'%}" class="fee_off"></a></li>
                <!--5-->
                <li><a href="{%url 'show_account_list'%}" class="account_off"></a></li>

                <!--6-->
                <li><a href="{%url 'show_service_list'%}" class="service_on"></a></li>
                <!--7-->
                <li><a href="{%url 'show_bill_list'%}" class="bill_off"></a></li>
                <!--8-->
                <li><a href="{%url 'show_report_list'%}" class="report_off"></a></li>
                <!--9-->
                <li><a href="{%url 'show_user_info'%}" class="information_off"></a></li>
                <!--10-->
                <li><a href="{%url 'show_user_modi_pwd'%}" class="password_off"></a></li>
            </ul>
        </div>
        <!--导航区域结束-->
        <!--主要区域开始-->
        <div id="main">            
            <form action="" method="" class="main_form">
                <!--必填项-->
                <div class="text_info clearfix"><span>业务账号ID：</span></div>
                <div class="input_info"><input type="text" value="1" readonly class="readonly" /></div>
                <div class="text_info clearfix"><span>账务账号ID：</span></div>
                <div class="input_info"><input type="text" value="101" readonly class="readonly" /></div>
                <div class="text_info clearfix"><span>客户姓名：</span></div>
                <div class="input_info"><input type="text" readonly class="readonly" value="张三" /></div>
                <div class="text_info clearfix"><span>身份证号码：</span></div>
                <div class="input_info"><input type="text" readonly class="readonly" value="230111111111111111" /></div>
                <div class="text_info clearfix"><span>服务器 IP：</span></div>
                <div class="input_info"><input type="text" value="192.168.0.23" readonly class="readonly" /></div>
                <div class="text_info clearfix"><span>OS 账号：</span></div>
                <div class="input_info"><input type="text" value="openlab1" readonly class="readonly" /></div>
                <div class="text_info clearfix"><span>状态：</span></div>
                <div class="input_info">
                    <select disabled>
                        <option>开通</option>
                        <option>暂停</option>
                        <option>删除</option>
                    </select>                        
                </div>
                <div class="text_info clearfix"><span>开通时间：</span></div>
                <div class="input_info"><input type="text" readonly class="readonly" /></div>
                <div class="text_info clearfix"><span>资费 ID：</span></div>
                <div class="input_info"><input type="text" class="readonly" readonly /></div>
                <div class="text_info clearfix"><span>资费名称：</span></div>
                <div class="input_info"><input type="text" readonly class="width200 readonly" /></div>
                <div class="text_info clearfix"><span>资费说明：</span></div>
                <div class="input_info_high">
                    <textarea class="width300 height70 readonly" readonly>包 20 小时，20 小时以内 24.5 元，超出部分 0.03 元/分钟</textarea>
                </div>  
                <!--操作按钮-->
                <div class="button_info clearfix">
                    <input type="button" value="返回" class="btn_save" onclick="location.href='service_list.html';" />
                </div>
            </form>
        </div>
        <!--主要区域结束-->
        <div id="footer">
            <span>[源自北美的技术，最优秀的师资，最真实的企业环境，最适用的实战项目]</span>
            <br />
             <span>版权所有(C)云科技有限公司 </span>
        </div>
    </body>
    <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'js/jquery.cookie.js'%}"></script>
    <script src="{%static 'js/csrf.js'%}"></script>
    <script>
                //登录权限验证
        identify();

        function identify() {
                //判断登录的管理员是何种类别的管理员
                let type=$.cookie('master_limit_type');
                console.log(type);
                let m_list=type.split(',');
                let m_type1=0;
                let m_type2=0;
                let m_type3=0;
                for(let i =0;i<m_list.length;i++){
                    if( m_list[i]=='超级管理员'){
                        m_type1=1;
                    }
                    else if( m_list[i]=='账目管理员'){
                        m_type2=2;
                    }
                    else if( m_list[i]=='业务管理员'){
                         m_type3=3;
                    }

                }
                console.log(m_list);
                //设置账目管理员权限
                if(m_type1!=1){
                    $('ul li:nth-child(2) a').attr('href','{%url "snop"%}');
                    $('ul li:nth-child(3) a').attr('href','{%url "snop"%}');
                    if(m_type2==2 && m_type3==0){

                    $('ul li:nth-child(4) a').attr('href','{%url "snop"%}');
                    $('ul li:nth-child(6) a').attr('href','{%url "snop"%}');

                    }
                //设置资费管理员权限
                    else if(m_type2==0 && m_type3==3){

                    $('ul li:nth-child(5) a').attr('href','{%url "snop"%}');
                    $('ul li:nth-child(7) a').attr('href','{%url "snop"%}');
                    $('ul li:nth-child(8) a').attr('href','{%url "snop"%}');

                    }
                }
            }
        //
    </script>
</html>
