{%load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>云服务器租赁系统</title>
        <link type="text/css" rel="stylesheet" media="all" href="{%static 'styles/global.css'%}" />
        <link type="text/css" rel="stylesheet" media="all" href="{%static 'styles/global_color.css'%}" />
    </head>
    <body class="index">
        <div class="login_box">
            <table>
                <tr>
                    <td class="login_info">账号：</td>
                    <td colspan="2"><input name="username" type="text" class="width150" /></td>
                    <td class="login_error_info" id="username" style="display: none"><span class="required" >30长度的字母、数字和下划线</span></td>
                </tr>
                <tr>
                    <td class="login_info">密码：</td>
                    <td colspan="2"><input name="password" type="password" class="width150" /></td>
                    <td><span class="required">30长度的字母、数字和下划线</span></td>
                </tr>
                <tr>
                    <td class="login_info">验证码：</td>
                    <td class="width70"><input name="" type="text" class="width70" /></td>
                    <td><img src="#" alt="验证码" title="点击更换" id="yan"/></td>
					
					<!--http://127.0.0.1:8000/login/pass_first_image/1.jpg-->
                    <td  style="display: none" id="yz"><span class="required">验证码错误</span></td>
                </tr>            
                <tr>
                    <td></td>
                    <td class="login_button" colspan="2">
                        <a href="#" id="href"><img src="{%static 'images/login_btn.png'%}" /></a>
                    </td>    
                    <td ><span class="required">用户名或密码错误，请重试</span></td>
                </tr>
            </table>
        </div>
    </body>
    <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'js/jquery.cookie.js'%}"></script>
    <script src="{%static 'js/csrf.js'%}"></script>
    <script>


        $('#href').on('click',function(){

            let paras = $('table tr').find('input');
            let obj=[];
            for (let i=0;i<paras.length;i++){

                obj.push(paras[i]);
            }
            //console.log(obj);
            let username=$(obj[0]).val();
            let password=$(obj[1]).val();

			console.log('true');
			dic={'username':username,'password':password};
			create_csrf();
			$.ajax({
				url:'{%url "spl"%}',
				type:'post',
				data:dic,
				success:function(res){
					res=JSON.parse(res);
					if(res.code==200){
						let limit_type=res.success;
						
						$.cookie('master_limit_type',res.success,{path:'/'});
						$.cookie('m_username',res.username,{path:'/'});
						window.location.href='{%url "index"%}';
					}
					else{
						window.location.href='{%url "serr"%}';
					}
				}
			});
            
        })
    </script>
</html>
