{%load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link type="text/css" rel="stylesheet" media="all" href="{%static 'styles/global.css'%}" />
        <link type="text/css" rel="stylesheet" media="all" href="{%static 'styles/global_color.css'%}" />
        <script language="javascript" type="text/javascript">
            //显示角色详细信息
            function showDetail(flag, a) {
                var detailDiv = a.parentNode.getElementsByTagName("div")[0];
                if (flag) {
                    detailDiv.style.display = "block";
                }
                else
                    detailDiv.style.display = "none";
            }
            //重置密码
            function resetPwd() {
                alert("请至少选择一条数据！");
                //document.getElementById("operate_result_info").style.display = "block";
            }
            //删除
            function deleteAdmin() {
                var r = window.confirm("确定要删除此管理员吗？");
                document.getElementById("operate_result_info").style.display = "block";
            }
            //全选
            function selectAdmins(inputObj) {
                var inputArray = document.getElementById("datalist").getElementsByTagName("input");
                for (var i = 1; i < inputArray.length; i++) {
                    if (inputArray[i].type == "checkbox") {
                        inputArray[i].checked = inputObj.checked;
                    }
                }
            }
        </script>       
    </head>
    <body>
        <!--Logo区域开始-->
        <div id="header">
            <img src="{%static 'images/logo.png'%}" alt="logo" class="left"/>
            <a href="{%url 'sl'%}">[退出]</a>
        </div>
        <!--Logo区域结束-->
        <!--导航区域开始-->
        <div id="navi">                        
            <ul id="menu">
                <!--1-->
                <li><a href="{%url 'index'%}" class="index_off"></a></li>
                <!--2-->
                <li><a href="{%url 'role_list'%}" class="role_off"></a></li>
                <!--3-->
                <li><a href="{%url 'sml'%}" class="admin_on"></a></li>
                <!--4-->
                <li><a href="{%url 'show_fee_list'%}" class="fee_off"></a></li>
                <!--5-->
                <li><a href="{%url 'show_account_list'%}" class="account_off"></a></li>

                <!--6-->
                <li><a href="{%url 'show_service_list'%}" class="service_off"></a></li>
                <!--7-->
                <li><a href="{%url 'show_bill_list'%}" class="bill_off"></a></li>
                <!--8-->
                <li><a href="{%url 'show_report_list'%}" class="report_off"></a></li>
                <!--9-->
                <li><a href="{%url 'show_user_info'%}" class="information_off"></a></li>
                <!--10-->
                <li><a href="{%url 'show_user_modi_pwd'%}" class="password_off"></a></li>
            </ul>            
        </div>
        <!--导航区域结束-->
        <!--主要区域开始-->
        <div id="main">
            <form action="" method="">
                <!--查询-->
                <div class="search_add">
                    <div>
                        模块：
                        <select id="selModules" class="select_search">
                            <option>全部</option>
                            <option>角色管理</option>
                            <option>管理员管理</option>
                            <option>资费管理</option>
                            <option>账务账号</option>
                            <option>业务账号</option>
                            <option>账单管理</option>
                            <option>报表</option>
                        </select>
                    </div>
                    <div>角色：<input type="text" value="" class="text_search width200" /></div>
                    <div><input type="button" value="搜索" class="btn_search"/></div>
                    <input type="button" value="密码重置" class="btn_add"  />
                    <input type="button" value="增加" class="btn_add" />
                </div>
                <!--删除和密码重置的操作提示-->
                <div id="operate_result_info" class="operate_fail">
                    <img src="{%static 'images/close.png'%}" onclick="this.parentNode.style.display='none';" />
                    <span>删除失败！数据并发错误。</span><!--密码重置失败！数据并发错误。-->
                </div> 
                <!--数据区域：用表格展示数据-->     
                <div id="data">            
                    <table id="datalist">
                        <tr>
                            <th class="th_select_all">
                                <input type="checkbox" onclick="selectAdmins(this);" />
                                <span>全选</span>
                            </th>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>登录名</th>
                            <th>电话</th>
                            <th>电子邮件</th>
                            <th>授权日期</th>
                            <th class="width100">拥有角色</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
                <!--分页-->
                <div id="pages">
        	        <a href="#" id="up">上一页</a>
                    <a href="#" id="1" class="current_page  page" name="页">1</a>
                    <a href="#"  id="2" name="页">2</a>
                    <a href="#" id="3" name="页">3</a>
                    <a href="#" id="4" name="页">4</a>
                    <a href="#" id="5" name="页">5</a>
                    <a href="#" id="down">下一页</a>
                </div>                    
            </form>
        </div>
        <!--主要区域结束-->
        <div id="footer">
            <p>[源自北美的技术，最优秀的师资，最真实的企业环境，最适用的实战项目]</p>
            <span>版权所有(C)云科技有限公司 </span>
        </div>
    </body>
    <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'js/jquery.cookie.js'%}"></script>
    <script src="{%static 'js/csrf.js'%}"></script>

    <script>
        //管理员身份判断
        identify();
        function identify() {
                //判断登录的管理员是何种类别的管理员
                let type=$.cookie('master_limit_type');
                console.log(type);
                let m_list=type.split(',');
                let m_type1=0;
                let m_type2=0;
                let m_type3=0;
                for(let i =0;i<m_list.length;i++){
                    if( m_list[i]=='超级管理员'){
                        m_type1=1;
                    }
                    else if( m_list[i]=='账目管理员'){
                        m_type2=2;
                    }
                    else if( m_list[i]=='业务管理员'){
                         m_type3=3;
                    }

                }
                console.log(m_list);
                //设置账目管理员权限
                if(m_type1!=1){
                    $('ul li:nth-child(2) a').attr('href','{%url "snop"%}');
                    $('ul li:nth-child(3) a').attr('href','{%url "snop"%}');
                    if(m_type2==2 && m_type3==0){

                    $('ul li:nth-child(4) a').attr('href','{%url "snop"%}');
                    $('ul li:nth-child(6) a').attr('href','{%url "snop"%}');
                    // $('input[value="密码重置"]').onclick(function(){
                    //     window.location.href='{%url "snop"%}';
                    // });

                    }
                //设置资费管理员权限
                    else if(m_type2==0 && m_type3==3){

                    $('ul li:nth-child(5) a').attr('href','{%url "snop"%}');
                    $('ul li:nth-child(7) a').attr('href','{%url "snop"%}');
                    $('ul li:nth-child(8) a').attr('href','{%url "snop"%}');



                    }
                }
            }
        //



            //实现页码外观的切换
        function scroll(count){
                $('#pages a[name="页"]').each(function(index,ele){
                    $(ele).attr('class','');
                });
                $($('#pages a[name="页"]')[count]).attr('class','current_page');

        }
        $('#pages a[name="页"]').each(function(index,ele){

                $(ele).on('click',function(){
                    scroll(index);

                });
        });
            //给页码标签添加点击事件
        let page=1;
        let pageSize=3;
        ask(page,pageSize);

        click(page,pageSize);
        function click(page,pageSize){
                $('#1').on('click',function () {
                    console.log('666');
                    page=1;
                    $('.data').remove();
                    ask(page,pageSize);
                });
                $('#2').on('click',function () {
                    console.log('666');
                    page=2;
                    $('.data').remove();
                    ask(page,pageSize);
                });
                $('#3').on('click',function () {
                    console.log('666');
                    page=3;
                    $('.data').remove();
                    ask(page,pageSize);
                });
                $('#4').on('click',function () {
                    console.log('666');
                    page=4;
                    $('.data').remove();
                    ask(page,pageSize);
                });
                $('#5').on('click',function () {
                    console.log('666');
                    page=5;
                    $('.data').remove();
                    ask(page,pageSize);
                });
               $('#up').on('click',function(){
                   if(page>1 && page<=5){
                      page--;
                      scroll(page-1);
                   }

                   $('.data').remove();
                   ask(page,pageSize);
               });
                $('#down').on('click',function(){
                    if(page>=1 && page<5){
                        page++;
                        scroll(page-1);
                   }
                   console.log(page);
                    $('.data').remove();
                   ask(page,pageSize);
               });
            }
        function ask(page,pageSize) {
                dic = 'page=' + page + '&pageSize=' + pageSize;
                create_csrf();
                $.ajax({
                    url: '{%url "select_master"%}',
                    type: 'post',
                    data: dic,
                    success: function (res) {
                        let paras = res.total;
                        let datas = res.list;

                        for (let i = 0; i < datas.length; i++) {
                            let lists=res.list[i]['fields']['limit_type'];

                            let list2='';

                            if(lists.length<=6){
                                list2=lists.replace(',','');
                            }
                            else if(lists.length>6){
                                let list3=lists.substr(0,lists.length-1)

                                list2=list3.replace(',','<br>')
                            }

                            //let lists=res.list[i]['fields']['limit_type'].replace(',','<br>')
                            let str = `
                                        <tr class="data">
                                            <td ><input type="checkbox" /></td>
                                            <td>${3 * page - 2 + i}</td>

                                            <td>${res.list[i]['fields']['name']}</td>
                                            <td>${res.list[i]['pk']}</td>

                                            <td>${res.list[i]['fields']['phone']}</td>
                                            <td>${res.list[i]['fields']['email']}</td>
                                            <td>${res.list[i]['fields']['limit_time']}</td>
                                            <td>${list2}</td>
                                            <td class="td_modi">
                                                <input type="button" value="修改" class="btn_modify" />
                                                <input type="button" value="删除" class="btn_delete" />
                                            </td>
                                        </tr>

                            `;
                            //$('.data').remove();
                            $('table').append($(str));
                        }
                    }
                });
                $('input[value="增加"]').on('click', function () {
                    window.location.href = "{%url 'smr'%}";
                });
                modify();
                delete_data();

            }
        //定义函数完成修改功能
        function modify(){
                let timer=setTimeout(function () {
                    $('input[value="修改"]').each(function(index,ele){

                        $(ele).on('click',function(){
                        //获取tr的值传递给另一个页面
                        let limit_type=$(this).parent().parent();
                        let data_list=limit_type.find('td');
                        let data_dic={'name':data_list[1].innerHTML,'limit_type':data_list[2].innerHTML};
                        let data_str=data_list[2].innerHTML+'&'+data_list[3].innerHTML+'&'+data_list[4].innerHTML+'&'
                        +data_list[5].innerHTML+'&'+data_list[6].innerHTML+'&'+data_list[7].innerHTML;
                        //console.log(data_str);
                        $.cookie('master_many_modify',data_str,{path:'/'});
                        window.location.href="{%url 'smd'%}";

                        });

                    });
                },1000);


            }
        //定义删除函数
        function delete_data(){
            let timer=setTimeout(function () {
                 $('input[value="删除"]').each(function(index,ele){

                    $(ele).on('click',function(){


                        //获取tr的值传递给另一个页面
                        let limit_type=$(this).parent().parent();
                        let data_list=limit_type.find('td');
                        //获取要删除的登录名
                        let data_dic={'username':data_list[3].innerHTML};
                        console.log(data_dic);
                        $.ajax({
                            url:'{%url "delete_master_many"%}',
                            type:'post',
                            data:data_dic,
                            success:function(res){
                                console.log(res);
                                window.location.href='{%url "role_list"%}';
                            }
                         });


                    });

                });
             },1000);

            }
        check();
        function check(){
            $('input[value="密码重置"]').on('click',function () {
                console.log('6666666');
                $.each($('input:checkbox'),function(){
                    if(this.checked){
                        let element=$(this).parent().parent();
                        let data_list=element.find('td');
                        let cont=$(data_list[3]).text();
                        console.log(cont);
                        let dic={'username':cont};
                        console.log(cont);
                        create_csrf();
                        $.ajax({
                            url:'{%url "reset_password"%}',
                            type:'post',
                            data:dic,
                            success:function (res) {
                                console.log(res);
                            }
                        });
                    }
                });
                // let element=$('input:checkbox').parent().parent();
                //     // let element=$(this).parent().parent();
                // let data_list=element.find('td');


            });
        }
        function update_infor(){
            let select_list=[];

             $.each($('input:checkbox'),function(){
                if(this.checked){
                    // window.alert("你选了："+
                    //     $('input[type=checkbox]:checked').length+"个，其中有："+$(this).val());
                    select_list.push($(this).val());

                }
            });
            return select_list;

        }


    </script>
</html>
